body{
	background-color: lightblue;
}


p{
	color: purple;
}
h1{
	color: purple;
}
}
.darkblue{
	color: darkblue;
}
.extra{
	color: inherit;
}
.hugeword{
	font-size:25px;
}

.box{
	list-style: none;
	padding: 0;
	background-color: black;
	width: 100%;
}
.box li{
	font-size: 200%;
	color: lightblue;
	padding: 20px 50px 20px 50px;
	text-align: center;
}
.box li:hover{
	background-color: gray;
}